@import "tailwindcss";

@theme {
  --font-sans:
    "Press Start 2P", system-ui;
}

html,
body {
  @apply bg-white dark:bg-[#9e82ab];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
