@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --bg-color-atm: rgb(158, 130, 171);
  --bg-color-header: rgb(27, 110, 172);
}

html,
body {
  /*@apply bg-[rgb(158, 130, 171)];*/

  @apply bg-white dark:bg-[#9e82ab];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
