@import "tailwindcss";

@theme {
  --font-sans: "Press Start 2P", system-ui;
}

html,
body {
  @apply bg-white dark:bg-[#9e82ab];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.star-active,
.star-inactive,
.pulse-active,
.pulse-inactive,
.maestro-active,
.maestro-inactive,
.mastercard-active,
.mastercard-inactive,
.plus-active,
.plus-inactive,
.visa-active,
.visa-inactive {
  background-image: url("../assets/creditcard_sprite.png");
  background-repeat: no-repeat;
}

.star-active {
  height: 20px;
  background-position: 0px 0px;
}

.star-inactive {
  height: 20px;
  background-position: 0px -23px;
}

.pulse-active {
  height: 20px;
  background-position: -30px 0px;
}

.pulse-inactive {
  height: 20px;
  background-position: -30px -23px;
}

.maestro-active {
  height: 20px;
  background-position: -80px 0px;
}

.maestro-inactive {
  height: 20px;
  background-position: -80px -23px;
}

.mastercard-active {
  height: 20px;
  background-position: -125px 0px;
}

.mastercard-inactive {
  height: 20px;
  background-position: -125px -23px;
}

.plus-active {
  height: 20px;
  background-position: -170px 0px;
}

.plus-inactive {
  height: 20px;
  background-position: -170px -23px;
}

.visa-active {
  height: 20px;
  background-position: -200px 0px;
}

.visa-inactive {
  height: 20px;
  background-position: -200px -23px;
}
